#app-view {
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
}

.done {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);
}

.due-date, .when {
	font-size: 0.7em;
}