#app-view {
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
}

.done .desc {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);
}

.rejected .desc {
	text-decoration: line-through;
	color: rgba(255, 75, 50, 0.2);
}

.due-date, .when, .where, .at {
	font-size: 0.7em;
}

.incomplete.unknown-due-date {
	color: orange;
}

.incomplete.no-due-date {
	color: navy;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	padding: 5px;
	border: 1px solid gray;
	border-radius: 2px;
}

.icon-cell {
	text-align: center;
}

.no-due-date-cell, .recurring-cell {
	max-width: 50px;
}

.no-due-date-icon, .recurring-icon {
	opacity: 0.25;
}

.recurring-cell {
	font-size: 1.5em;
}

.no-due-date-icon, .recurring-icon {
	cursor: pointer;
}

.no-due-date-icon.checked, .recurring-icon.checked {
	opacity: 1;
}

.done .done-icon, .rejected .done-icon {
	display: none;
}

.header-cell {
	vertical-align: middle;
}

.todos {
	padding-left: 0;
}

.todos .cell:nth-child(1), .todos .cell:nth-child(2) {
	text-align: center;
}

.todos .header-cell:nth-child(1), .todos .header-cell:nth-child(2) {
	text-align: left;
}